{% extends 'base.html' %}

{% block content %}
    {% for item in lista_akcija %}
        <div class="container" style="background-color: #E7E7E7; padding:60px; boreder:10px; border-radius: 5px" >
            <div class="img-rounded" >

                <div class="row">

                    <div class="col-md-6">
                        <img src="{{ item.photo }}" class="img-responsive;" alt="Responsive image"
                                    style="border: 1px solid; border-color:#E7E7E7 ">
                    </div>

                    <div class="col-md-6" style="border-radius: 5px;">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                        <a href="{% url 'akcija' item.id %}">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}

{#        <div class="tm-content-box flex-2-col">#}
{#            <div class="pad flex-item tm-team-description-container">#}
{#                <h2 class="tm-section-title">Our Team</h2>#}
{#                <p class="tm-section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel nisi pharetra nibh varius pharetra ac sagittis nisi. Etiam pharetra vestibulum hendrerit.</p>#}
{#                <p class="tm-section-description">Donec ex libero, fringilla vitae purus sit amet, rhoncus pharetra lorem. Pellentesque id sem id lacus ultricies vehicula. Aliquam rutrum mi non.</p>#}
{#            </div>#}
{#            <div class="flex-item">#}
{#                <img src="img/about.jpg" alt="">#}
{#            </div>#}
{#        </div>#}